<!DOCTYPE html>
<html>

  <head>
  <style>
    table, th , td  {
      border: 1px solid blue;
      border-collapse: collapse;
      padding: 5px;
    }
    table tr:nth-child(odd) {
      background-color: #f1f1f1;
    }
    table tr:nth-child(even) {
      background-color: #ffffff;
    }
  </style>
    <meta charset="utf-8" />
    <title>Project 3</title>
    
    <script>
    $(document).ready(function () {
    var id = 1;
    $.getJSON('/products/'+id,function (json) {
      var tr=[];
      for (var i = 0; i < json.length; i++) {
        tr.push('<tr>');
        tr.push("<td>" + json[i].age + "</td>");
        tr.push("<td>" + json[i].sex + "</td>");
        tr.push("<td>" + json[i].race + "</td>");
        tr.push("<td>" + json[i].length_of_stay + "</td>");
        tr.push("<td>" + json[i].stay_indicator + "</td>");
        tr.push("<td>" + json[i].total_charges+ "</td>");
        tr.push("<td>" + json[i].id+ "</td>");
        tr.push('</tr>');
      }
      $('table').append($(tr.join('')));
    });
    });
    
    </script>
  </head>

  <body>
     <div >
        <div >
          
         <table>
         <thead>
         <tr>
            <th>AGE</th>
            <th>SEX</th>
            <th>RACE</th>
            <th>length_of_stay</th>
            <th>stay_indicator</th>
            <th>total_charges</th>
            <th>total_charges</th>
         </tr>
         </thead>
        <tbody data-bind="foreach: teams">
        <tr>
            <td data-bind="text: age"></td>
            <td data-bind="text: sex "></td>
            <td data-bind="text: race "></td>
            <td data-bind="text: length_of_stay"></td>
            <td data-bind="text: total_charges "></td>
            <td data-bind="text: length_of_stay "></td>
            <td data-bind="text: id "></td>
        </tr>
        </tbody>
        </table>
        </div>
    </div>
  </body>

</html>
