<!DOCTYPE html>
<html ng-app="myApp">

  <head>
  <style>
    table, th , td  {
      border: 1px solid blue;
      border-collapse: collapse;
      padding: 5px;
    }
    table tr:nth-child(odd) {
      background-color: #f1f1f1;
    }
    table tr:nth-child(even) {
      background-color: #ffffff;
    }
  </style>
    <meta charset="utf-8" />
    <title>Project 3</title>
    <script>document.write('<base href="' + document.location + '" />');</script>
    <link rel="stylesheet" href="style.css" />
    <script data-require="angular.js@1.3.x" src="https://code.angularjs.org/1.3.15/angular.js" data-semver="1.3.15"></script>
    <script>
       var app = angular.module('myApp', []);
       app.controller('myController', ['$scope', '$http', '$interval',function($scope, $http, $interval) {
       var id = 1;
        $interval(function(){
          $http.get('/products/'+id).success(function(data) {
              $scope.items = $scope.items+data;
              id++;
              console.log(data)
          });
        },500);
      
  
      }]);
    
    </script>
  </head>

  <body ng-controller="myController">
     <div ng-app="myApp">
        <div ng-controller="myController">
          
         <table> 
          <tr ng-repeat="item in items">
            
          <td>{{ item.age}}</td>
          
          <td>{{ item.sex}}</td>
          
          <td>{{ item.race}}</td>
          
          <td>{{ item.length_of_stay}}</td>

          <td>{{ item.stay_indicator}}</td>

          <td>{{ item.total_charges}}</td>

          <td>{{ item.id}}</td>
          
          </tr>
        </table>
        </div>
    </div>
  </body>

</html>
